Makefile.in
aclocal.m4
compile
config.h.in
configure
depcomp
install-sh
ltmain.sh
sde-logout/Makefile.in
sde-session-manager/Makefile.in
m4/
man/Makefile.in
missing
po/Makefile.in.in
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
libtool
sde-logout/.deps/
sde-logout/Makefile
sde-logout/sde-logout
sde-logout/*.o
sde-session-manager/.deps/
sde-session-manager/Makefile
sde-session-manager/sde-session-manager
sde-session-manager/*.o
man/Makefile
man/*.1
po/LINGUAS
po/Makefile
po/POTFILES
po/*.gmo
po/stamp-it
stamp-h1
Makefile
